-- what is the overall sales trend
-- what are the top ten products by sales
-- what are the top ten most selling products
-- analysis of preferred ship mode
-- profit analysis by category and sub-category
-- region wise sales analysis

In [1]:
import pandas as pd
import datetime as dt
import sqlalchemy
import pymysql
import sql_connect as sql

In [2]:
user = sql.username
password = sql.password

In [3]:
conn = f"mysql+pymysql://{user}:{password}@localhost/superstore_sales"

In [4]:
df = pd.read_excel('superstore_sales.xlsx')
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,2011-01-01,2011-01-06,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408.300,2,0.0,106.1400,35.460,Medium,2011
1,IN-2011-47883,2011-01-01,2011-01-08,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120.366,3,0.1,36.0360,9.720,Medium,2011
2,HU-2011-1220,2011-01-01,2011-01-05,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66.120,4,0.0,29.6400,8.170,High,2011
3,IT-2011-3647632,2011-01-01,2011-01-05,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",44.865,3,0.5,-26.0550,4.820,High,2011
4,IN-2011-47883,2011-01-01,2011-01-08,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",113.670,5,0.1,37.7700,4.700,Medium,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,2014-12-31,2015-01-04,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",13.904,2,0.2,4.5188,0.890,Medium,2014
51286,MO-2014-2560,2014-12-31,2015-01-05,Standard Class,Liz Preis,Consumer,Souss-Massa-Draâ,Morocco,Africa,Africa,...,Office Supplies,Binders,"Wilson Jones Hole Reinforcements, Clear",3.990,1,0.0,0.4200,0.490,Medium,2014
51287,MX-2014-110527,2014-12-31,2015-01-02,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Office Supplies,Labels,"Hon Color Coded Labels, 5000 Label Set",26.400,3,0.0,12.3600,0.350,Medium,2014
51288,MX-2014-114783,2014-12-31,2015-01-06,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Office Supplies,Labels,"Hon Legal Exhibit Labels, Alphabetical",7.120,1,0.0,0.5600,0.199,Medium,2014
51289,CA-2014-156720,2014-12-31,2015-01-04,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Office Supplies,Fasteners,Bagged Rubber Bands,3.024,3,0.2,-0.6048,0.170,Medium,2014

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        51290 non-null  object
 1   order_date      51290 non-null  datetime64[ns]
 2   ship_date       51290 non-null  datetime64[ns]
 3   ship_mode       51290 non-null  object
 4   customer_name   51290 non-null  object
 5   segment         51290 non-null  object
 6   state           51290 non-null  object
 7   country         51290 non-null  object
 8   market          51290 non-null  object
 9   region          51290 non-null  object
 10  product_id      51290 non-null  object
 11  category        51290 non-null  object
 12  sub_category    51290 non-null  object
 13  product_name    51290 non-null  object
 14  sales           51290 non-null  float64
 15  quantity        51290 non-null  int64
 16  discount        51290 non-null  float64
 17  profit          51290 non-null  float64
 18  shipping_cost   51290 non-null  float64
 19  order_priority  51290 non-null  object
 20  year            51290 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(2), object(13)
memory usage: 8.2+ MB

In [7]:
df.isnull().sum()

order_id          0
order_date        0
ship_date         0
ship_mode         0
customer_name     0
segment           0
state             0
country           0
market            0
region            0
product_id        0
category          0
sub_category      0
product_name      0
sales             0
quantity          0
discount          0
profit            0
shipping_cost     0
order_priority    0
year              0
dtype: int64

THE OVERALL SALES TREND

In [8]:
df['order_date'].min()

Timestamp('2011-01-01 00:00:00')

In [9]:
df['order_date'].max()

Timestamp('2014-12-31 00:00:00')

In [10]:
def monthly(arg):
    return arg.strftime('%Y-%m')

In [11]:
df['month-year'] = df['order_date'].apply(monthly)
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,month-year
0,AG-2011-2040,2011-01-01,2011-01-06,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Storage,"Tenex Lockers, Blue",408.300,2,0.0,106.1400,35.460,Medium,2011,2011-01
1,IN-2011-47883,2011-01-01,2011-01-08,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Supplies,"Acme Trimmer, High Speed",120.366,3,0.1,36.0360,9.720,Medium,2011,2011-01
2,HU-2011-1220,2011-01-01,2011-01-05,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Storage,"Tenex Box, Single Width",66.120,4,0.0,29.6400,8.170,High,2011,2011-01
3,IT-2011-3647632,2011-01-01,2011-01-05,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Paper,"Enermax Note Cards, Premium",44.865,3,0.5,-26.0550,4.820,High,2011,2011-01
4,IN-2011-47883,2011-01-01,2011-01-08,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furnishings,"Eldon Light Bulb, Duo Pack",113.670,5,0.1,37.7700,4.700,Medium,2011,2011-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,2014-12-31,2015-01-04,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",13.904,2,0.2,4.5188,0.890,Medium,2014,2014-12
51286,MO-2014-2560,2014-12-31,2015-01-05,Standard Class,Liz Preis,Consumer,Souss-Massa-Draâ,Morocco,Africa,Africa,...,Binders,"Wilson Jones Hole Reinforcements, Clear",3.990,1,0.0,0.4200,0.490,Medium,2014,2014-12
51287,MX-2014-110527,2014-12-31,2015-01-02,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Labels,"Hon Color Coded Labels, 5000 Label Set",26.400,3,0.0,12.3600,0.350,Medium,2014,2014-12
51288,MX-2014-114783,2014-12-31,2015-01-06,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Labels,"Hon Legal Exhibit Labels, Alphabetical",7.120,1,0.0,0.5600,0.199,Medium,2014,2014-12
51289,CA-2014-156720,2014-12-31,2015-01-04,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Fasteners,Bagged Rubber Bands,3.024,3,0.2,-0.6048,0.170,Medium,2014,2014-12

In [12]:
monthly_sales_df = df.groupby('month-year').sum()['sales'].reset_index()
monthly_sales_df = monthly_sales_df.round(decimals=2)
monthly_sales_df

   month-year      sales
0     2011-01   98898.49
1     2011-02   91152.16
2     2011-03  145729.37
3     2011-04  116915.76
4     2011-05  146747.84
5     2011-06  215207.38
6     2011-07  115510.42
7     2011-08  207581.49
8     2011-09  290214.46
9     2011-10  199071.26
10    2011-11  298496.54
11    2011-12  333925.73
12    2012-01  135780.72
13    2012-02  100510.22
14    2012-03  163076.77
15    2012-04  161052.27
16    2012-05  208364.89
17    2012-06  256175.70
18    2012-07  145236.79
19    2012-08  303142.94
20    2012-09  289389.17
21    2012-10  252939.85
22    2012-11  323512.42
23    2012-12  338256.97
24    2013-01  199185.91
25    2013-02  167239.65
26    2013-03  198594.03
27    2013-04  177821.32
28    2013-05  260498.56
29    2013-06  396519.61
30    2013-07  229928.95
31    2013-08  326488.79
32    2013-09  376619.25
33    2013-10  293406.64
34    2013-11  373989.36
35    2013-12  405454.38
36    2014-01  241268.56
37    2014-02  184837.36
38    2014-03  263100.77
39    2014-04  242771.86
40    2014-05  288401.05
41    2014-06  401814.06
42    2014-07  258705.68
43    2014-08  456619.94
44    2014-09  481157.24
45    2014-10  422766.63
46    2014-11  555279.03
47    2014-12  503143.69

In [13]:
monthly_sales_df.to_sql(name = 'sales_trend',con = conn)

TOP 10 PRODUCTS BY SALES

In [14]:
product_sales_all = df.groupby('product_name').sum()['sales'].reset_index()
product_sales_all = product_sales_all.sort_values('sales',ascending = False ).reset_index(drop = True)
product_sales_all['total_sales'] = product_sales_all['sales'].sum(0)
product_sales_all
product_sales = product_sales_all.sort_values('sales',ascending = False ).head(10).reset_index(drop = True)
product_sales['top_total_sales'] = product_sales['sales'].sum(0)
# product_sales = product_sales.append({'product_name':'Other','sales':(product_sales['total_sales']-product_sales['top_total_sales'])},ignore_index=True)
# product_sales['other_products'] = product_sales
x= product_sales.loc[0,'total_sales']-product_sales.loc[0,'top_total_sales']
product_sales = product_sales.append({'product_name':'Other_products','sales':x},ignore_index=True)
product_sales = product_sales.loc[:,['product_name','sales']]
product_sales = product_sales.round(decimals = 2)
product_sales
product_sales.to_sql(name = 'top_sales',con = conn)

                                         product_name        sales
0                        Apple Smart Phone, Full Size     86935.78
1                        Cisco Smart Phone, Full Size     76441.53
2                     Motorola Smart Phone, Full Size     73156.30
3                        Nokia Smart Phone, Full Size     71904.56
4               Canon imageCLASS 2200 Advanced Copier     61599.82
5          Hon Executive Leather Armchair, Adjustable     58193.48
6   Office Star Executive Leather Armchair, Adjust...     50661.68
7   Harbour Creations Executive Leather Armchair, ...     50121.52
8                       Samsung Smart Phone, Cordless     48653.46
9                   Nokia Smart Phone, with Caller ID     47877.79
10                                     Other_products  12016955.99

most selling products

In [27]:
product_quantity_all = df.groupby('product_name').sum()['quantity'].reset_index()
product_quantity_all['total_quantity'] =product_quantity_all['quantity'].sum() 
product_quantity = product_quantity_all.sort_values('quantity',ascending = False).head(10).reset_index(drop = True) 
product_quantity['top_total_quantity'] = product_quantity['quantity'].sum() 

product_quantity=product_quantity.append({'product_name':'others','quantity':(product_quantity['total_quantity']-product_quantity['top_total_quantity'])[0]},ignore_index = True)
product_quantity = product_quantity.loc[:,['product_name','quantity']]
product_quantity
s = 0
for i in range(0,10):
    s = s + product_quantity['quantity'][i]
    
        
product_quantity = product_quantity.append({'product_name':'top_ten','quantity':s},ignore_index = True) 
product_quantity_cat = product_quantity.loc[10:11,:]
product_quantity_cat.reset_index(drop = True, inplace = True)
product_quantity_cat.to_sql(name='prod_quantity',con=conn)

In [16]:
top_ten_products = product_sales.loc[0:9,:]
top_ten_products.to_sql(name= 'top_ten_sales',con = conn)

In [17]:
product_quantity = df.groupby('product_name').sum()['quantity'].reset_index()
product_quantity = product_quantity.sort_values('quantity',ascending = False ).head(10).reset_index(drop = True)
product_quantity.to_sql(name = 'top_products',con = conn)

In [18]:
ship_mode = df.groupby('ship_mode').count().reset_index()
ship_mode = ship_mode.loc[:,['ship_mode','order_id']]
ship_mode.to_sql(name = 'ship_mode',con = conn)

profit_analysis by category and sub_category

In [19]:
profit_analysis = df.groupby(['category','sub_category']).sum().reset_index()
profit_analysis = profit_analysis.loc[:,['category','sub_category','profit']]
profit_analysis['profit'] = profit_analysis['profit'].round(decimals=2)
profit_analysis
profit_analysis.to_sql(name = 'profit_analysis',con = conn)

           category sub_category     profit
0         Furniture    Bookcases  161924.42
1         Furniture       Chairs  141973.80
2         Furniture  Furnishings   46967.43
3         Furniture       Tables  -64083.39
4   Office Supplies   Appliances  141680.59
5   Office Supplies          Art   57953.91
6   Office Supplies      Binders   72449.85
7   Office Supplies    Envelopes   29601.12
8   Office Supplies    Fasteners   11525.42
9   Office Supplies       Labels   15010.51
10  Office Supplies        Paper   59207.68
11  Office Supplies      Storage  108461.49
12  Office Supplies     Supplies   22583.26
13       Technology  Accessories  129626.31
14       Technology      Copiers  258567.55
15       Technology     Machines   58867.87
16       Technology       Phones  216717.01

In [20]:
state_analysis = df.groupby(['country','state']).sum().reset_index()
state_analysis = state_analysis.loc[:,['country','state','sales']]
state_analysis.to_sql(name = 'state_analysis',con = conn)

In [21]:
country_analysis = df.groupby(['region','country']).sum().reset_index()
country_analysis = country_analysis.loc[:,['region','country','sales']]
country_analysis
country_analysis.to_sql(name = 'country_analysis',con = conn)

             region        country        sales
0            Africa        Algeria   36091.5900
1            Africa         Angola   25554.0000
2            Africa          Benin    6212.0700
3            Africa        Burundi     267.7200
4            Africa       Cameroon   22349.3700
..              ...            ...          ...
147  Southeast Asia    Philippines  183420.1650
148  Southeast Asia      Singapore   40286.2500
149  Southeast Asia       Thailand   77051.9550
150  Southeast Asia        Vietnam   65800.1994
151            West  United States  725457.8245

[152 rows x 3 columns]

region wise sales analysis

In [22]:
regional_sales = df.groupby('region').sum().reset_index()
regional_sales = regional_sales.loc[:,['region','sales']]
regional_sales = regional_sales.round(decimals=2)
regional_sales

            region       sales
0           Africa   783773.21
1           Canada    66928.17
2        Caribbean   324280.86
3          Central  2822302.52
4     Central Asia   752826.57
5             EMEA   806161.31
6             East   678781.24
7            North  1248165.60
8       North Asia   848309.78
9          Oceania  1100184.61
10           South  1600907.04
11  Southeast Asia   884423.17
12            West   725457.82

In [23]:
regional_sales.to_sql(name = 'regional_sales',con= conn)

In [24]:
product_sales

                                         product_name        sales
0                        Apple Smart Phone, Full Size     86935.78
1                        Cisco Smart Phone, Full Size     76441.53
2                     Motorola Smart Phone, Full Size     73156.30
3                        Nokia Smart Phone, Full Size     71904.56
4               Canon imageCLASS 2200 Advanced Copier     61599.82
5          Hon Executive Leather Armchair, Adjustable     58193.48
6   Office Star Executive Leather Armchair, Adjust...     50661.68
7   Harbour Creations Executive Leather Armchair, ...     50121.52
8                       Samsung Smart Phone, Cordless     48653.46
9                   Nokia Smart Phone, with Caller ID     47877.79
10                                     Other_products  12016955.99